.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading #{@away_team.name} @ #{@home_team.name}
      .panel-body
        %table.table
          %tr
            %th Date
            %td= @game.date
          %tr
            %th Winner
            %td
              - if @game.winner == 'away'
                = @away_team.name
              - else
                = @home_team.name
          %tr
            %th Score
            %td #{@game.home_score} - #{@game.away_score}
          %tr
            %th Home Team
            %td
              %table.table
                %tr
                  %th Name
                  %th Location
                  %th Conference
                %tr
                  %td= @home_team.display_name
                  %td= @home_team.location
                  %td= @home_team.conference
          %tr
            %th Away Team
            %td
              %table.table
                %tr
                  %th Name
                  %th Location
                  %th Conference
                %tr
                  %td= @away_team.display_name
                  %td= @away_team.location
                  %td= @away_team.conference